.login_container {
    -fx-background-color: #EEEEEE;
}

/* Logo container styles */
.login_container {
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_container Text {
    -fx-font-size: 2em;
    -fx-fill: #FFFFFF;
}

.login_container FontAwesomeIconView {
    -fx-fill: #ECF39E;
}

/* Account Selector ChoiceBox styles */
.account_selector {
    -fx-background-color: #ECF39E;
}

.account_selector .label {
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

.account_selector .arrow {
    -fx-background-color: #132A13;
}

#choice-box-popup-menu {
    -fx-background-color: #ECF39E;
}

/* Login form styles */

#choice-prompt-text {
    -fx-font-weight: 400;
}

.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container .label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.input_field {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login_form_container .button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 350;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
}

.login_form_container .button:hover {
    -fx-cursor: hand;
}

.error_lbl {
    -fx-text-fill: #FF0000;
}