.userslist_container {
    -fx-background-color: #EEEEEE;
}

.userslist_container Text {
    -fx-fill: #555555;
    -fx-font-size: 1.8em;
    -fx-font-family: "Calibri Light";
}

.userslist_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 0;
}

.userslist_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 10 0 10 0;
}

.userslist_container Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 250;
    -fx-pref-height: 35;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.5em;
    -fx-font-family: "Calibri Light";
}

.userslist_container Button:hover {
    -fx-cursor: hand;
}